
body {
    background-color: black;
    font-family: "Trebuchet MS", Helvetica, sans-serif; 
    margin:  0;  
}

.header {
    background-image: url(https://cdn.shopify.com/s/files/1/0806/5321/products/GRID-WALLPAPER_1024x1024.jpg?v=1507585518); 
    background-color: white;
    height: 250px; /* You must set a specified height */
    background-position: left; /* Center the image */
    background-repeat: repeat; /* Do not repeat the image */
    line-height: 250px;
    text-align: left;
}
 
    h1.h1BCS{
        font-size: 2.4rem;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: bold;
        color: black;
        display: inline-block;
        vertical-align: middle;
        line-height: normal; 
        padding: 0 0 0 10%;
    }

.index {
    height:10%;
    margin: 2vh 0;
    background-color: black;
    margin: 0.8vw 8vw 0.8vw 8vw;  
    
}
    .index1{
        display : inline; 
        color:white;
        text-align: left; 
        padding: 4vw 8vw 2vw 8vw; 
    }

    
.contact {
    height: 40%;
    background-color: white;
    display: flex; 
    flex-direction: row;
   
}
    .contactinfo {
        width: 50vw;
        padding: 1vw 2vw 2vw 8vw;
        float: inline-start; 
        margin: 2vh 0; 
    }
        .contactinfo h2 {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: black;
            text-transform: uppercase;  
            
        }

        .underlined{
            text-decoration: underline; 
            padding: 1vw 0 1vw 0;
        }
        .allsmalltext {
            margin: 1vw 0 1vw 0;
        }
        .smalltext {
            display: inline;
            flex-direction: row;
            text-decoration: underline; 
            font-size: 0.8rem;    
        }

        .button {
            width: 15vw; 
            border-style: solid; 
            border-width: 2px;
            padding: 1vw 1vw 1vw 1vw;
            text-align: center; 
            margin: 4vh 0 1vh 0; 
        }
        .videocontainer {
            padding: 4vh 8vw 1vw 0;
        }
/*         
When I try to make the video responsive, I can't seem to put it in the right position on the screen.
        .video-container {
            position:relative;
            padding-bottom:56.25%;
            padding-top:30px;
            height:0;
            overflow:hidden;
        }
        
        .video-container iframe, .video-container object, .video-container embed {
            position: relative;
            top:0;
            left:0;
            width:100%;
            height:100%;
        } */
 p {
        font-family: Arial, Helvetica, sans-serif; 
        color: white; 
        line-height: 1.5rem; 
    }
        
.future {
    width: 100%;
    height: 60%; 
    background-color: black; 

}
    .future h2 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: white;
        text-transform: uppercase; 
        padding: 1vw 2vw 0vw 8vw;
    }
    .colums {
    display: flex; 
    flex-direction: row; 
    justify-content: left; 
    margin: 0vw 1vw 0vw 8vw;
    }
        .colums h3 {
            text-transform: uppercase; 
            color: white;
        }
        .fcolumn {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: white;
            font-size: 1rem;
            margin: 1vw 3vw 0vw 0vw;
            width:20%; 
        }
   


.courses {
    width: 100%;
    height: 80%; 
    background-color: white; 
    display: block; 
}
    .courses h2 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: black;
        text-transform: uppercase; 
        padding: 2vw 2vw 0vw 8vw;
        
    }
       .courses h3 {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: black;
            text-transform: uppercase; 
            border-bottom: 1px solid; 
            padding: 0vw 0vw 0vw 0vw;
            margin: 1vw 2vw 0 1vw; 
            width: 90%;
        }

            .coursebl .course h4 {
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                color: black;
                text-transform: uppercase;
                padding: 0vw 2vw 0vw 1vw;
            }

            .raster p {
                text-decoration: underline;
                font-family: Arial, Helvetica, sans-serif; 
                color: black;
                line-height: 2rem;
            }

            .notunderlined {
                font-family: Arial, Helvetica, sans-serif; 
                color: black;
                line-height: 2rem;
                padding: 0; 
            }
    
    .raster {
        width: 82%;
        border-style: solid; 
        border-width: 0.5px;
        box-shadow: -2.5px 2.5px; 
        margin: 1vw 2vw 2vw 8vw;
    }

        .courseb {
            display: flex;  
            flex-direction: row; 
            justify-content: left;
            margin: 0 0 2vw 0;
    
        }

            .coursebl {
                width:40%; 
                padding: 0vw 5vw 0vw 1vw;
            }
            .coursebr {
                width:40%; 
                padding: 0vw 2vw 0vw 5vw;
            }

.difference {
    width: 100%;
    height: 80%;
    background-color: black;
}

    .difference h2 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: white;
        text-transform: uppercase; 
        padding: 1vw 2vw 0vw 8vw;
    }

.partners {
    width: 100%;
    height: 78vh;
    background-color:white;
}
    .partners h2 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: black;
        text-transform: uppercase; 
        padding: 2vw 2vw 0vw 8vw;
    }
    .praster {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        background-color:white;
        margin: 1vw 8vw 2vw 8vw;
    }
        .picon img {
            max-width: 10vw; 
            max-height: 10vh; 
            filter: grayscale(100%);
            padding: 1vh 0;

        }

.footer {
    width: 100%;
    height: 60vh; 
    background-color: black;
    display: flex; 
    flex-direction: row; 
    justify-content: left; 
}
    .cfooter {
        margin: 0 7vw 0 0;
    }
    .footer h2 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: white;
        text-transform: uppercase; 
        padding: 1vw 2vw 0vw 8vw;
    }

    .footer p {
        font-size: 0.8rem; 
        line-height: 2rem;
        margin: 1vw 2vw 0vw 8vw;
    }

    .ufooter {
        font-size: 0.8rem; 
        line-height: 2rem;
        margin: 1vw 2vw 6vh 8vw;
        color: white; 
    }

    .floatingimage {
        position:fixed;
        top: 85%;
        left: 92%;
    }