body {
    margin:  0;  
    background-color: black; 
}

.header {
    background-image: url(https://cdn.shopify.com/s/files/1/0806/5321/products/GRID-WALLPAPER_1024x1024.jpg?v=1507585518); 
    background-color: white;
    height: 250px; /* You must set a specified height */
    background-position: left; /* Center the image */
    background-repeat: repeat; /* Do not repeat the image */
    line-height: 250px;
    text-align: left;
}
 
    .h1BCS {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
        font-size: 6vh;
        font-weight: bold;
        display: inline-block;
        vertical-align: middle;
        line-height: normal; 
        padding: 0 0 0 10%;
      }

.index {
    height:10%;
    margin: 2vh 0;
    background-color: black;
}
    .index1{
        font-family: Arial, Helvetica, sans-serif; 
        display : inline; 
        color:white;
        text-align: left; 
        padding: 4vw 6vw 2vw 10vw; 
        
    }
.content {
    background-color: white;
}
.box {
    margin: 2vw 8vw 2vw 10vw;
    padding: 1vw 0vw 1vw 2vw;  
    width: 80%;
    display: grid; 
    grid-template-columns: 12% 53% 35%; 
    justify-content: left; 
    border-style: solid; 
    border-width: 0.5px;
    box-shadow: -2.5px 2.5px; 
}
    h2 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
        font-weight: bold; 
        text-transform: uppercase;  
        font-size: 2rem; 
        padding: 4vw 0 2vw 0; 
        border-bottom: 1px solid; 
        margin: 0 8vw 0 10vw; 
    }

    h3 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
        text-transform: uppercase;  
        font-size: 1.5rem;
        padding: 2vw 6vw 0 10vw; 
    }

    .titlebox {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
        text-transform: uppercase;  
        font-size: 1.5rem;
        font-weight: bold;
        margin: 0 0 2rem; 
    }

    .date {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
        text-transform: uppercase;  
        font-size: 1rem; 
        font-weight: bold;
       
    }
    .boxr{
        padding: 0 3rem 0 0 ; 
    }

    .boxm {
    
    }
    .boxl{
   
    }
    
    .text {
        font-family: Arial, Helvetica, sans-serif; 
        line-height: 2rem;
        margin: 0rem 0 2rem 0; 
    }

    .undertext{
        font-family: Arial, Helvetica, sans-serif; 
        line-height: 2rem; 
        text-decoration: underline; 
        margin: 0 0 2rem 0; 
    }

    .smalltext {
        font-family: Arial, Helvetica, sans-serif; 
        font-size: 0.7rem; 
        line-height: 2rem; 
       
    }

    .signupbox{
        width:80%; 
        height: 2vh; 
        font-family: Arial, Helvetica, sans-serif; 
        padding: 0.5rem 2rem 0.5rem 2rem; 
        text-align: center; 
        border: 1px solid; 
        }
    
    .dropdown {
        font-family: Arial, Helvetica, sans-serif;
        margin: 1vw 0 1vw 0; 
    }
        /* Dropdown Button */
        .dropbtn{
            cursor: pointer;
            font-size: 1vw; 
            text-align: left; 
            display: inline;
            width: 96.5%;  
            background-color: white;
            border: thin solid black;
            border-radius: 4px;
            font: inherit;
            line-height: 2em;
            padding: 0em 1em 0em 0.5em;
            
        }

            .arrow {
                width: 0vw; 
                margin: 0 0 0 6vw; 
                line-height: 0.2rem; 
                display: inline-block;  
            }
                        
                i {
                    border: solid black;
                    border-width: 0 0.15vw 0.15vw 0;
                    display: inline-block;
                    padding: 0.2vw; 
                            }
                            .up {
                                transform: rotate(-135deg);
                                -webkit-transform: rotate(-135deg);
                               margin: 0.5rem 0 0rem 4.8rem; 
                            }
                            
                            .down {
                                transform: rotate(45deg);
                                -webkit-transform: rotate(45deg);
                                margin: 0rem 0rem 0rem 4.8rem; 
                            }
    
                
    
    
     
    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }
    
    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    
    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {background-color: #ddd}
    
    /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
    .show {display:block;}



    .RSVP {
            width: 80%; 
            height: 2vh; 
            font-family: Arial, Helvetica, sans-serif; 
            padding: 0.5rem 2rem 0.5rem 2rem; 
            margin: 9.5vh 0 0 0; 
            text-align: center; 
            border: 1px solid; 
            }

            .ul {
                list-style-type: square;
                margin: 0; 
            }


    form, input {
        width: 26.2vw; 
        height: 4vh; 
        font-family: Arial, Helvetica, sans-serif; 
        font-size: 1vw; 
        display: block; 
        color: grey; 
        margin: 0vh 0 0vh 0; 
    }
